[Desktop Entry]
Type=Application
Name=XML Copy Editor
GenericName=XML Editor
Comment=Edit XML documents
Exec=xmlcopyeditor %U
Icon=xmlcopyeditor
Terminal=false
MimeType=text/xml;
Categories=Development;TextEditor;
